* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  width: 440px;
  list-style: none;
  border: 1px solid #f6f6fe;
  border-radius: 8px;
  padding: 0;
  margin: 0;
}

li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item {
  margin-bottom: 16px;
}

ul > li {
  background-color: #f6f6fe;
}

h2 {
  padding: 16px;
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.items-list > li {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px;
}
